# =========================================================================
# 유니티 하위 폴더 컴포넌트 강제 제외 세팅
# =========================================================================
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[尝]ogs/
**/[Uu]ser[Ss]ettings/

# Visual Studio 및 캐시 파일 제외
**/.vs/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pdb
**/*.opendb
**/*.VC.db

# 대용량 압축 파일 제외
**/*.tgz
